<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon src="../../assets/home_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="product-categories">
      <ion-icon src="../../assets/search_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="cart">
      <ion-icon src="../../assets/shopping_cart_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>