<ion-header [translucent]="true" class="no-shadow">
  <ion-toolbar>
    <h1 style="align-self: center; justify-self: center;">Produits et Promotions</h1>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid class="category-grid">

    @for (category of categoryList;track category){
      <ion-row class="category-row" (click)="onCategory(category)">
        <ion-col  size="12" >
          <p class="category-title">{{category.name}}</p>
        </ion-col>
      </ion-row>
      <ion-row class="separation-row">

      </ion-row>
    }
  </ion-grid>
</ion-content>
