// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// Définir la police globale
:root {
  --ion-font-family: 'Inter', sans-serif;
}
// src/theme/variables.scss

:root {
  --ion-color-black: #000000; /* Ajout de la couleur noire */
  --ion-color-black-rgb: 0, 0, 0;
  --ion-color-black-contrast: #ffffff; /* Couleur contrastée */
  --ion-color-black-shade: #1a1a1a;
  --ion-color-black-tint: #333333;
}
