* {
  margin: 0;
  padding: 0;
}

.header-content {
  height: 200px;
  background-color: red;
  scroll-behavior: unset;
}

h1 {
  text-align: center;
  padding-top: 10px;
}

.product-grid {}

.product-row {
  height: 90px;
  border-bottom: 1px solid #ccc;
  // padding: 10px;
}

.product-div {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 10px;
}

.product-div-right {
  height: 70px;
  width: 70px;
  border-radius: 10px;
  position: relative;
}

.add-cart-btn {
  position: absolute;
  bottom: 2px;
  right: 2px;
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-title {
  font-size: 1.2em;
  font-weight: 400;
}

.product-price {
  font-size: 1em;
  font-weight: 300;

}

ion-header {
  --background: #f4f5f8;
  --color: #000;
  --opacity: 0.5;
}
ion-toolbar {
  --background: #f4f5f8;
  --color: #000;
  --opacity: 0.5;
}
