<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{category.name}}</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">category.name</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-content class="header-content" [scrollY]="false">
    <ion-img src="{{categoryImage[category.id]}}" style="width: 100%; height: 100%; object-fit: cover;"></ion-img>
  </ion-content>
  <h1>{{category.name}} </h1>
  <ion-grid class="product-grid" >

    @for (product of products;track product.id){
      <ion-row class="product-row" >
        <ion-col  size="12" >
          <div class="product-div">
            <div class="product-div-left">
              <p class="product-title">{{product.name}}</p>
              <p class="product-price">{{product.price}},00€</p>
            </div>
            <div class="product-div-right" style="background-image: url({{productImage[product.id]}}); background-size: cover; background-position: center; height: 70px;">
                <ion-icon class="add-cart-btn" src="../../assets/add_16dp_5F6368_FILL0_wght400_GRAD0_opsz20 (copy).svg" (click)="addToCart(product)"></ion-icon>
            </div>
          </div>
        </ion-col>
      </ion-row>
    }
  </ion-grid>
</ion-content>
