<ion-header [translucent]="true" class="no-shadow">
  <ion-toolbar>
    <div class="title-container">
      <h1 class="main-title">Bateau Thibault</h1>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="full-width-card">
    @for (category of categoryList; track category) {
      <ion-card (click)="onCategory(category, $event)">
        <div class="card-image">
          <img [src]="category.image" [alt]="category.name">
          <div class="card-title">{{category.name}}</div>
        </div>
      </ion-card>
    }
  </div>
</ion-content>
