<ion-header [translucent]="true" class="no-shadow">
  <ion-toolbar>
    <div class="title-container">
      <h1 class="main-title">Bateau Thibault</h1>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="category-container" *ngFor="let category of categories">
    <div class="category-header">
      <h2>{{ category.name }}</h2>
      <ion-icon name="arrow-forward" (click)="goToHomeOptions(category)"></ion-icon>
    </div>
    <swiper-container #swiper init="false">
      <swiper-slide *ngFor="let element of category.elements">
        <div class="element-card" (click)="goToOptionDetail(category, element)">
          <img [src]="element.image" [alt]="element.title">
          <p>{{ element.title }}</p>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
</ion-content>
